<table style="float:left">
  <tr>
    <td>Soru</td>
    <td>Doğru Cevap</td>
    <td>Yanlış Cevap</td>
    <td>Yanlış Cevap</td>
    <td>Yanlış Cevap</td>
    <td>Yanlış Cevap</td>
    <td>Zorluk</td>
    <td>Tür</td>
    <td>Ders</td>
    <td>Resim</td>
    <td>Aksiyonlar</td>
  </tr>
  <% @test_questions.each do |question| %>
    <tr>
      <td><%= question.question %></td>
      <td><%= question.true_answer %></td>
      <td><%= question.wrong %></td>
      <td><%= question.wrong2 %></td>
      <td><%= question.wrong3 %></td>
      <td><%= question.wrong4 %></td>
      <td><%= question.difficulty %></td>
      <td><%= question.kind %></td>
      <td><%= question.lesson.name %></td>
      <td><%= image_tag(question.image, width: 200, height: 100) if question.image.attached? %></td>
      <td><%= link_to :Düzenle, edit_test_question_path(question) %> <%= link_to :Sil, test_question_path(question), method: :delete %></td>
    </tr>
  <% end %>
</table>
<table style="float:left">
  <tr>
    <td>Soru</td>
    <td>Doğru Cevap</td>
    <td>Zorluk</td>
    <td>Tür</td>
    <td>Ders</td>
    <td>Resim</td>
    <td>Aksiyonlar</td>
  </tr>
  <% @classic_questions.each do |question| %>
    <tr>
      <td><%= question.question %></td>
      <td><%= question.true_answer %></td>
      <td><%= question.difficulty %></td>
      <td><%= question.kind %></td>
      <td><%= question.lesson.name %></td>
      <td><%= image_tag(question.image, width: 200, height: 100) if question.image.attached? %></td>
      <td><%= link_to :Düzenle, edit_classic_question_path(question) %> <%= link_to :Sil, classic_question_path(question), method: :delete %></td>
    </tr>
  <% end %>
</table>
