<head>

  <link href="/stylesheets/application.scss" media="all" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag 'application' %>
</head><body id="LoginForm">
<div class="container">
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2>Giriş Formu</h2>
        <p>Lütfen email adresinizi ve parolanızı giriniz</p>
      </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name),id:'Login') do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"inputEmail",placeholder:"Email" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "current-password",class:"form-control" ,id:"inputPassword", placeholder:"Parola" %>
        </div>
        <div class="forgot">
          <a href="reset.html">Parolanı mı unuttun?</a>
        </div>
        <%= f.submit "Giriş Yap", class:"btn btn-primary"%>
        <%end %>

    </div>
  </div>
</div>
</body>
